main {
    background-color: #FFCB05;
    padding-left: 100px;
    padding-right: 100px;
    color: black;
}

.pokemon-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

button {
    border: 1px solid black;
    background-color: white;
}

.pokemon-logo {
    width: 300px;
}

.pokemon-cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

}

.pokemon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0px 8px black;
    }