main {
    background-color: #FFCB05;
    padding-left: 100px;
    padding-right: 100px;
    color: black;
}

.pokemon-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

button {
    background-color: #2a5bae;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.pokemon-logo {
    width: 300px;
}

.pokemon-cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

}

.pokemon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0px 8px black;
    }